language: node_js

node_js:
  - "8"

addons:
  apt:
    sources:
      - trusty-media
      - google-chrome
    packages:
      - ffmpeg
      - libasound2-dev
      - google-chrome-stable

cache: yarn

env:
  global:
    - E2E_USE_DUMMY_SPEAKER=1
    - E2E_WAIT_TIME=1000
    - secure: Jd4JjWJuz8wMvIFeByFfG8MSfVuV4vnEZQ9Gw90ADofRTvrkq1N1BUYKvjW/uJyBSHkX3i1L8UD4lULhF5YmOBzxZ5If3FpnQcuyRaQugdvC9mmETGvnH95UU2pUCFZCDvxdqZByi06ixu9btOV86XtdE8VEhi6EdrI6OfZoonjSaAksWkzJGSC1h636Rru/4XxzthR3/+TyF4r22P6+nfPHmY9VU1dnDoVEiysDk2DaxgxMEvwqvUvMDcEy0FYOEmtnY0gsMrJN72lKhleqYtjMv5Qkj72gZR3bdbycMYQw5PxINzpuveyBZSEY5UxL8eErFvIrmkpPleyeT2yqjvLhJO9k55yjF1403pIFEdZgqs8qVoKl4E2qmr5GzW3Ig2XfCwdzKRZakvdzLMEU9K7xEqS7JzLXhG2q4rlcdyked2ElOVCXyUrKAJtOBJHiVyFgzrtsT2RGsNAPdUOzg37ppdp2Lo/T965jgjgJjs0WE0my8vxtgEOS1x2GQnxqdjiFFNiaZNwnyIfRuBdwEEjADeF/VyY1Du9zZ/BQ4nWn8SwfCMH3oVK04BAaPetF/wZBnTmi9YZ3NRRztUnHbX2pfw6/xJZNOS+ZWiVNiCUtRb/gUmrupcIKoocNDql7lVJlzJ7b7FHQddjGeFMZpMiT5gYx53Mk28iGojyy1sY=

before_install:
  - yarn config set mpg123-backend dummy
  - yarn global add greenkeeper-lockfile@1

before_script:
  - greenkeeper-lockfile-update

script:
  - yarn run lint:all
  # - yarn run test:all # hasn't test
  - yarn run e2e -- -e chrome-headless

after_script:
  - greenkeeper-lockfile-upload
