.copy-link-button {
  position: relative;
}

.copied-tooltip::after {
  content: "Copied!";
  position: absolute;
  background: #222;
  border-radius: 7px;
  right: 26px;
  color: #fff;
  top: calc(50% - 12px);
  padding: 4px;
  font-size: 0.75em;
  height: 24px;
  width: 48px;
  text-align: center;
}

.copied-tooltip::before {
  content: "";
  position: absolute;
  border: solid;
  border-color: transparent #222;
  border-width: 6px 0 6px 6px;
  right: 20px;
  top: calc(50% - 6px);
}
