html, body {
  overflow: auto;
  position: relative;
}

[v-cloak] {
  display: none;
}

.app-title svg {
  max-width: 300px;
  height: auto;
}

.material-icons.is-large {
  font-size: 4em;
}

.material-icons.is-medium {
  font-size: 2em;
}

.material-icons.is-small {
  font-size: 1em;
}

.material-icons.is-pushable:active {
  transform: translateY(2px);
}

a {
  transition: all .2s ease;
}

.tabs li.is-active a {
  color: #75b0ba;
}

.panel-tabs .track-count {
  font-size: 0.7rem;
  height: 1.2rem;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  margin-left: 0.2rem;
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}
@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}
@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}
