html, body {
  overflow: auto;
}

[v-cloak] {
  display: none;
}

.app-title svg {
  max-width: 300px;
  height: auto;
}

.material-icons.is-large {
  font-size: 4em;
}

.material-icons.is-medium {
  font-size: 2em;
}

.material-icons.is-small {
  font-size: 1em;
}

.material-icons.is-pushable:active {
  transform: translateY(2px);
}

.tabs:not(:last-child) {
  margin-bottom: 0;
}

.tabs li.is-active a {
  color: #75b0ba;
}