.playlist {
  margin-bottom: 100px;
}
a.now-playing-content.is-active {
  background-color: #75b0ba;
  font-weight: bold;
  color: white;
}

.playlist-clear-button {
  color: white;
  background-color: #75b0ba;
  text-align: center;
  margin-top: 1em;
}

.playlist-clear-button:active {
  transform: translateY(2px);
}

.playlist-clear-button a {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.playlist-clear-button.deactivate {
  color: white;
  background-color: lightgray;
  margin-top: 0em;
  pointer-events: none;
}

.in-content-button {
  opacity: 0;
  transition: all .2s ease;
}

.playlist-content:hover .in-content-button {
  opacity: 1;
}

.playlist-content:not(.now-playing-content):hover .in-content-button {
  color: #75b0ba;
  color: #363636;
}
