.playlist {
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
}

.playlist.has-content {
  justify-content: space-between;
}

.panel-block.is-active .panel-icon, .panel-block a {
  color: #75b0ba;
}

.panel-block a:hover {
  color: #666;
}

.panel-block a:active {
  color: #363636;
}

.playlist-clear-button.is-outlined:not([disabled]) {
  color: #75b0ba;
  border-color: #75b0ba;
}

.playlist-clear-button.is-outlined:not([disabled]):hover {
  color: white;
  background-color: #75b0ba;
}

.playlist-clear-button:active {
  transform: translateY(2px);
}

.in-content-button {
  opacity: 0;
  transition: all .2s ease;
}

.playlist-content:hover .in-content-button {
  opacity: 1;
}

.scroll-view {
  overflow: auto;
}

.align-self-center {
  align-self: center;
}

.is-paddingless-vertical {
  padding-top: 0;
  padding-bottom: 0;
}

.playlist-content-title-wrapper {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.playlist-border-top {
  border-top: 1px solid #dbdbdb;
}

.thumbnail-wrapper {
  padding-right: 0;
}