.playlist.has-content {
  justify-content: space-between;
}

.panel-block.is-active .panel-icon, .panel-block a {
  color: #75b0ba;
}

.panel-block a:hover {
  color: #666;
}

.panel-block a:active {
  color: #363636;
}

.playlist-clear-button.is-outlined:not([disabled]) {
  color: #75b0ba;
  border-color: #75b0ba;
}

.playlist-clear-button.is-outlined:not([disabled]):hover {
  color: white;
  background-color: #75b0ba;
}

.playlist-clear-button:active {
  transform: translateY(2px);
}

.in-content-button {
  opacity: 0;
}

.playlist-content:hover .in-content-button {
  opacity: 1;
}

.tab-content {
  margin-top: -1px;
  flex: 1;
  border-bottom: 1px solid #dbdbdb;
}

.scroll-view {
  overflow: auto;
  position: relative;
  flex: 1;
  border-right: 1px solid #dbdbdb;
  border-left: 1px solid #dbdbdb;
  margin-bottom: -1px;
}

.scroll-view .panel-block {
  border-right: none;
  border-right: 0;
  border-left: 0;
}

.align-self-center {
  align-self: center;
}

.is-paddingless-vertical {
  padding-top: 0;
  padding-bottom: 0;
}

.playlist-content-title-wrapper {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.playlist-border-top {
  border-top: 1px solid #dbdbdb;
}

.thumbnail-wrapper {
  padding-right: 0;
}

.tab-with-icon {
  display: inline-flex;
  align-items: center;
}

.scroll-view-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.playlist-controller {
  margin-top: auto;
  margin-bottom: -1px;
  position: relative;
}

.tab-wrapper {
  display: flex;
  flex-direction: column;
}

.tab-wrapper .panel-tabs {
  /* for tab's bottom border */
  position: relative;
  z-index: 1;
}

@media screen and (min-width: 769px) {
  .tracks {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
  }
}

.panel-tabs a:not(.is-active) {
  color: #75b0ba;
}
