<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>jukebox</title>
  <link rel="shortcut icon" href="/favicon.ico">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.3/css/bulma.min.css">
  <link rel="stylesheet" href="css/index.css">
  <link rel="stylesheet" href="css/player.css">
  <link rel="stylesheet" href="css/playlist.css">
  <link rel="stylesheet" href="css/links-sender.css">
</head>

<body>
  <section class="hero is-fullheight">
    <div class="hero-body">
      <div class="container">
        <div class="columns">
          <div class="column has-text-centered">
            <h1 class="app-title">
              <svg width="1592" height="289" version="1.1" viewBox="0 0 449.31183 81.634773" xmlns="http://www.w3.org/2000/svg">
                <g transform="translate(44.633 -52.962)">
                  <g transform="matrix(.26458 0 0 .26458 -17.194 -11.507)" fill="#808080" aria-label="jukebox">
                  <g stroke-width="1.607">
                    <path d="m598.36 243.66v231.4h46.401v-231.4zm115.7 77.135v57.851l23.201 19.284 23.201-19.284v-57.851zm23.201 77.135-23.201 19.284v57.851h46.401v-57.851z"/>
                    <path d="m806.86 320.8v154.27h162.1v-38.567h-115.7v-77.135h69.301v57.851h46.401v-96.419z"/>
                    <path d="m1015.4 243.66v231.4h46.402v-115.7h69.301v77.135h46.402v-115.7h-115.7v-77.135z"/>
                    <path d="m1223.9 320.8v154.27h162.1v-115.7h-46.402v77.135h-69.301v-115.7z"/>
                    <path d="m1432.4 320.8v57.851l23.201 19.284 23.201-19.284v-57.851zm23.201 77.135-23.201 19.284v57.851h46.402v-57.851zm92.502-77.135v57.851l23.201 19.284 23.201-19.284v-57.851zm23.201 77.135-23.201 19.284v57.851h46.402v-57.851z"/>
                  </g>
                  <path d="m-103.71 243.66v96.419h46.401v-50.017h84.671v-46.401h-84.671zm177.47 0v46.401h84.665v50.017h46.401v-96.419h-46.401zm-177.47 134.99v38.567h46.401v-38.567zm262.14 0v38.567h46.401v-38.567zm-262.14 77.135v96.419h46.401v-96.419zm262.14 0v96.419h46.401v-96.419z" fill="#808080"/>
                  <g fill="#75b0ba">
                    <rect x="-19.035" y="378.65" width="46.402" height="38.567"/>
                    <rect x="73.768" y="378.65" width="46.402" height="38.567"/>
                    <rect x="297.05" y="243.66" width="46.402" height="38.567"/>
                    <rect transform="rotate(90)" x="513.63" y="-343.15" width="38.567" height="92.2"/>
                  </g>
                  <g fill="#808080">
                    <rect x="297.05" y="320.8" width="46.401" height="192.84"/>
                    <rect x="505.55" y="320.8" width="46.401" height="154.27"/>
                    <rect x="389.85" y="320.8" width="46.401" height="115.7"/>
                  </g>
                  <g fill="#75b0ba">
                    <rect transform="rotate(90)" x="436.5" y="-505.55" width="38.567" height="115.7"/>
                    <path d="m644.76 378.65v38.567h69.301l23.201-19.284-23.201-19.284z"/>
                    <path d="m853.26 378.65h69.301v38.567h-22.899z"/>
                    <path d="m1061.8 436.5h115.7v38.567h-69.301z"/>
                    <rect transform="rotate(90)" x="320.8" y="-1386" width="38.567" height="115.7"/>
                    <path d="m1478.8 378.65-23.201 19.284 23.201 19.284h69.301l23.201-19.284-23.201-19.284z"/>
                  </g>
                  </g>
                </g>
                </svg>
            </h1>
          </div>
        </div>
        <div class="columns player-wrapper" id="app" v-cloak>
          <div class="column is-6">
            <player :player="bindPlayer" v-if="bindPlayer"></player>
          </div>
          <div class="column is-6">
            <playlist :playlist="bindPlaylist" v-if="bindPlaylist"></playlist>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script src="https://unpkg.com/vue"></script>
  <!-- <script src="https://unpkg.com/vue/dist/vue.min.js"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.7.1/clipboard.min.js"></script>
  <script src="js/clear-playlist-modal.js"></script>
  <script src="js/playlist.js"></script>
  <script src="js/player.js"></script>
  <script src="js/links-sender.js"></script>
  <script src="js/index.js"></script>
</body>

</html>